In [ ]:
import numpy as np
import pandas as pd

# Carregando os Dados

## Tabela de Pedidos

In [ ]:
df_orders = pd.read_csv('../datasets/olist_orders_dataset.csv', parse_dates=['order_approved_at'])
df_orders.head()

                           order_id  ... order_estimated_delivery_date
0  e481f51cbdc54678b7cc49136f2d6af7  ...           2017-10-18 00:00:00
1  53cdb2fc8bc7dce0b6741e2150273451  ...           2018-08-13 00:00:00
2  47770eb9100c2d0c44946d9cf07ec65d  ...           2018-09-04 00:00:00
3  949d5b44dbf5de918fe9c16f97b45f8a  ...           2017-12-15 00:00:00
4  ad21c59c0840e6cb83a9ceb5573f8159  ...           2018-02-26 00:00:00

[5 rows x 8 columns]

# Tabela de Item-Pedidos

In [ ]:
df_order_items = pd.read_csv('../datasets/olist_order_items_dataset.csv')
df_order_items.head()

                           order_id  order_item_id  ...   price freight_value
0  00010242fe8c5a6d1ba2dd792cb16214              1  ...   58.90         13.29
1  00018f77f2f0320c557190d7a144bdd3              1  ...  239.90         19.93
2  000229ec398224ef6ca0657da4fc703e              1  ...  199.00         17.87
3  00024acbcdf0a6daa1e931b038114c75              1  ...   12.99         12.79
4  00042b26cf59d7ce69dfabb4e55b4fd9              1  ...  199.90         18.14

[5 rows x 7 columns]

# Tabela de Cadastro de Sellers

In [ ]:
df_sellers = pd.read_csv('../datasets/olist_sellers_dataset.csv')
df_sellers.head()

                          seller_id  ...  seller_state
0  3442f8959a84dea7ee197c632cb2df15  ...            SP
1  d1b65fc7debc3361ea86b5f14c68d2e2  ...            SP
2  ce3ad9de960102d0677a81f5d0bb7b2d  ...            RJ
3  c0f3eea2e14555b6faeea3dd58c1b1c3  ...            SP
4  51a04a8a6bdcb23deccc82b0b80742cf  ...            SP

[5 rows x 4 columns]

# Criando a ABT de Classificação - 1 Safra

Aqui iremos a nossa ABT utilizando apenas 1 safra, que é a safra com data de referência 2018-01-01.

Como iremos utilizar um histórico de 18 meses, sendo os primeiros 12 meses para construir as features e o últimos 6 meses para construir a variável target, temos então que a data limite inferior corresponde a data de referência subtraída de 12 meses, ou seja, 2017-01-01. Já a data limite superior corresponde a data de referência adicionada de 6 meses, 2018-07-01 (exclusiva).

In [ ]:
# criando histórico da abt de treino - apenas 1 safra
df_historico_abt_train = (
    df_order_items
    .merge(df_orders, on='order_id', how='left')
    .query('order_status == "delivered"')
    .query('order_approved_at >= "2017-01-01" & order_approved_at < "2018-07-01"')
    .merge(df_sellers, on='seller_id', how='left')
)
df_historico_abt_train.head()

                           order_id  order_item_id  ...     seller_city seller_state
0  00010242fe8c5a6d1ba2dd792cb16214              1  ...   volta redonda           SP
1  00018f77f2f0320c557190d7a144bdd3              1  ...       sao paulo           SP
2  000229ec398224ef6ca0657da4fc703e              1  ...   borda da mata           MG
3  00042b26cf59d7ce69dfabb4e55b4fd9              1  ...          loanda           PR
4  00048cc3ae777c65dbb7d2a0634bc1ea              1  ...  ribeirao preto           SP

[5 rows x 17 columns]

In [ ]:
df_historico_abt_train.agg({'order_approved_at': ['min', 'max']})

      order_approved_at
min 2017-01-05 12:10:17
max 2018-06-30 23:35:15

In [ ]:
# criando as features
df_features_train = (
    df_historico_abt_train
    .query('order_approved_at < "2018-01-01"')
    .groupby('seller_id')
    .agg(uf = ('seller_state', 'first'),
         tot_orders_12m = ('order_id', 'nunique'),
         tot_items_12m = ('product_id', 'count'),
         tot_items_dist_12m = ('product_id', 'nunique'),
         receita_12m = ('price', 'sum'),
         data_ult_vnd = ('order_approved_at', 'max'))
    .reset_index()   
    .assign(data_ref = pd.to_datetime('2018-01-01 00:00:00'))
    .assign(recencia = lambda df: (df['data_ref'] - df['data_ult_vnd']).dt.days)
)
df_features_train.head()

                          seller_id  uf  ...   data_ref  recencia
0  0015a82c2db000af6aaaf3ae2ecb0532  SP  ... 2018-01-01        74
1  001cca7ae9ae17fb1caed9dfb1094831  ES  ... 2018-01-01         2
2  002100f778ceb8431b7a1020ff7ab48f  SP  ... 2018-01-01         2
3  003554e2dce176b5555353e4f3555ac8  GO  ... 2018-01-01        16
4  004c9cd9d87a3c30c522c48c4fc07416  SP  ... 2018-01-01         8

[5 rows x 9 columns]

In [ ]:
df_features_train.sort_values('recencia', ascending=False).head()

                             seller_id  uf  ...   data_ref  recencia
1342  c9a06ece156bb057372c68718ec8909b  DF  ... 2018-01-01       350
456   436bf27f2f18474fc6047702e9f8a866  SP  ... 2018-01-01       347
1453  dd264199fc8b687ad029de7de6d760e6  PR  ... 2018-01-01       346
1589  f235413f677777a0738ff215d0184901  SP  ... 2018-01-01       342
880   822b63912576852aea9a8436d72317b7  SP  ... 2018-01-01       341

[5 rows x 9 columns]

In [ ]:
# criando o target
df_target_train = (
    df_historico_abt_train
    .query('order_approved_at >= "2018-01-01" & order_approved_at < "2018-07-01"')
    .filter(['seller_id'])
    .drop_duplicates()
)
df_target_train.head()

                           seller_id
2   5b51032eddd242adc84c38acab88f23d
6   a416b6a846a11724393025641d4edd5e
7   cc419e0650a3c5ba77189a1882b7556a
8   1f50f920176fa81dab994f9023523100
10  fcb5ace8bcc92f75707dc0f01a27d269

In [ ]:
# criando a abt de fato
df_abt_train = (
    df_features_train
    .merge(df_target_train, on='seller_id', how='left', indicator=True)
    # left_only = churn (1), both = não churn (0)
    .assign(nao_revendeu_next_6m = lambda df: np.where(df['_merge'] == "left_only", 1, 0))
    .filter(['data_ref', 
             'seller_id',
             'uf',
             'tot_orders_12m',
             'tot_items_12m',
             'tot_items_dist_12m',
             'receita_12m',
             'recencia',
             'nao_revendeu_next_6m'])
)
df_abt_train.head()

    data_ref                         seller_id  ... recencia  nao_revendeu_next_6m
0 2018-01-01  0015a82c2db000af6aaaf3ae2ecb0532  ...       74                     1
1 2018-01-01  001cca7ae9ae17fb1caed9dfb1094831  ...        2                     0
2 2018-01-01  002100f778ceb8431b7a1020ff7ab48f  ...        2                     0
3 2018-01-01  003554e2dce176b5555353e4f3555ac8  ...       16                     1
4 2018-01-01  004c9cd9d87a3c30c522c48c4fc07416  ...        8                     0

[5 rows x 9 columns]

# Criando Várias Safras

No código anterior criamos apenas uma safra. Mas o que acontece quando o tempo passa? Um dado vendedor pode ter o seu perfil alterado de acordo com as oscilações de mercado que acontecem no tempo. Um vendedor que em janeiro de 2018 vendia bastante eletrodomésticos, em fevereiro pode vender mais roupas. Essa mudança de perfil pode ser capturada para que o algoritmo de machine learning aprenda incluindo várias safras na base de treinamento.

In [ ]:
import dateutil

df_abt_safras = pd.DataFrame()
for safra in ['2018-01-01', '2018-02-01', '2018-03-01']:
    data_ref_safra     = pd.to_datetime(safra).date()
    data_inf_inclusiva = data_ref_safra - dateutil.relativedelta.relativedelta(months=12)
    data_sup_exclusiva = data_ref_safra + dateutil.relativedelta.relativedelta(months=6)  
    #print(f"Data Ref: {data_ref_safra}; Data Inf: {data_inf_inclusiva}; Data Sup: {data_sup_exclusiva}")

    df_historico_abt = (
        df_order_items
        .merge(df_orders, on='order_id', how='inner')
        .query('order_status == "delivered"')
        .query(f'order_approved_at >= "{data_inf_inclusiva}" & order_approved_at < "{data_sup_exclusiva}"')
        .merge(df_sellers, on='seller_id', how='left')
    )

    df_features = (
        df_historico_abt
        .query(f'order_approved_at < "{data_ref_safra}"')
        .groupby('seller_id')
        .agg(uf                 = ('seller_state', 'first'),
             tot_orders_12m     = ('order_id', 'nunique'),
             tot_items_12m      = ('product_id', 'count'),
             tot_items_dist_12m = ('product_id', 'nunique'),
             receita_12m        = ('price', 'sum'),
             data_ult_vnd       = ('order_approved_at', 'max'))
        .reset_index()
        .assign(data_ref_safra = pd.to_datetime(f'{data_ref_safra}'))
        .assign(recencia = lambda df: (df['data_ref_safra'] - df['data_ult_vnd']).dt.days)
    )
    
    df_target = (
        df_historico_abt
        .query(f'order_approved_at >= "{data_ref_safra}" & order_approved_at < "{data_sup_exclusiva}"')
        .filter(['seller_id'])
        .drop_duplicates()
    )

    df_abt = (
        df_features
        .merge(df_target, how='left', on='seller_id', indicator=True)
        .assign(nao_revendeu_next_6m = lambda df: np.where(df['_merge'] == "left_only", 1, 0))
        .filter(['data_ref_safra', 'seller_id', 'uf', 'tot_orders_12m', 'tot_items_12m', 'tot_items_dist_12m', 'receita_12m', 'recencia', 'nao_revendeu_next_6m'])
    )

    df_abt_safras = pd.concat([df_abt_safras, df_abt])

In [ ]:
df_abt_safras.head()

  data_ref_safra  ... nao_revendeu_next_6m
0     2018-01-01  ...                    1
1     2018-01-01  ...                    0
2     2018-01-01  ...                    0
3     2018-01-01  ...                    1
4     2018-01-01  ...                    0

[5 rows x 9 columns]

In [ ]:
df_abt_safras['data_ref_safra'].value_counts().sort_index()

2018-01-01    1690
2018-02-01    1805
2018-03-01    1874
2018-04-01    1941
2018-05-01    2104
2018-06-01    2213
Name: data_ref_safra, dtype: int64

In [ ]:
df_abt_safras.shape

(11627, 9)

# Verificando as Distribuições da Variável Target

In [ ]:
(
    df_abt_safras
    .groupby('data_ref_safra')
    .agg(prop_nao_revenderam = ('nao_revendeu_next_6m', 'mean'))
)

                prop_nao_revenderam
data_ref_safra
2018-01-01                 0.376331
2018-02-01                 0.395568
2018-03-01                 0.411419
2018-04-01                 0.435858
2018-05-01                 0.471008
2018-06-01                 0.558066

# Salvando a ABT

In [ ]:
df_abt_safras.to_csv('../datasets/propensao_revenda_abt.csv', index=False)